form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #3CBC8D;
  color: white;
  height:200px;
  font-size:14pt;
}

body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
